* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* INIZIO HEADER PAGINA */
.headCont {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 60px;
}

#textLogo {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-family: sans-serif;
}

#logo {
    height: 70px;
    width: auto;
    vertical-align: middle;
}

/* FINE HEADER PAGINA */

/* INIZIO SEZIONE BOTTINI */
.buttonCont {
    width: 1200px;
    margin: 0 auto;
    background-color: lightgray;
    margin-bottom: 5px;
}

.buttonBox {
    height: 70px;
    width: 900px;
    margin-top: 50px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    margin: 0 auto;
}

#blueButton {
    border-radius: 5px;
    background-color: #47ADF1;
    border: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
}

#grayButton {
    border-radius: 5px;
    background-color: white;
    border: 0.1px solid;
    padding: 10px;
    color: lightgray;
    font-weight: bold;
}

/* FINE SEZIONE BOTTINI */

/* INIZIO SEZIONE TASK */

.listCont {
    width: 1200px;
    margin: 0 auto;
    background-color: lightgray;
}

.listBox {
    height: 600px;
    width: 900px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    padding: 30px;
}

.listTitle {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    list-style: none;
}

.listStyle {
    list-style: none;
    line-height: 40px;
}

.checkCross {
    border: 1.5px solid green;
    border-radius: 20px;
    font-size: 15px;
    list-style: none;
    text-align: center;
    color: green;
    padding-left: 3px;
}

.redcheckCross {
    border: 1.5px solid red;
    border-radius: 20px;
    font-size: 15px;
    list-style: none;
    text-align: center;
    color: red;
    padding-left: 3px;
}

/* FINZE SEZIONE TASK*